body {
    font-family: 'Arial', sans-serif;
    background-image: url('../Images/Background-Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #333;
  }
  
  /* Header Styling */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #21B0C6; /* Moonstone */
    color: #010101;
  }
  
  header h1 {
    font-size: 1.875rem; /* text-3xl */
    font-weight: bold;
  }
  
  header nav ul {
    display: flex;
    gap: 15px;
    font-weight: bold;
  }
  
  header nav a {
    color: #7F2CB3; /* Grape */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  header nav a:hover {
    color: #E296D8; /* Plum */
  }

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height to center in the middle */
  margin: 0; 
}


.about-container {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 20px rgba(252, 224, 97, 0.6); /*Yellow shadow */
  max-width: 400px; /* Decreased width for a smaller container */
  text-align: center; /* Center-align text */
}


.about-container h2 {
  font-size: 1.5rem; /* Slightly smaller font size */
  font-weight: 600;
  margin-bottom: 1rem;
  white-space: nowrap; /* Prevents text wrapping */
}

/* Paragraph styles */
.about-container p {
  color: #4a4a4a; /* Dark gray for better readability */
  font-size: 0.875rem; /* Smaller text */
  line-height: 1.5;
}
.upload-container {
  background-color: white; /* White background for the upload container */
  padding: 2rem; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 20px rgba(198, 90, 210, 0.6); /*Yellow shadow */
  border-radius: 0.5rem; 
  max-width: 500px; 
  margin: 0 auto; 
}
.upload-container h2 {
  text-align: center; 
  margin-bottom: 1rem; 
}

body {
  font-family: Arial, sans-serif;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none; /* Class to hide modal */
}

