body {
    font-family: 'Arial', sans-serif;
    background-image: url('../Images/Background-Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #333;
  }
  
  /* Header Styling */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #21B0C6; /* Moonstone */
    color: #010101;
  }
  
  header h1 {
    font-size: 1.875rem; /* text-3xl */
    font-weight: bold;
  }
  
  header nav ul {
    display: flex;
    gap: 15px;
  }
  
  header nav a {
    color: #7F2CB3; /* Grape */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  header nav a:hover {
    color: #E296D8; /* Plum */
  }
